<main>
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-dark">
          <%= render partial: "quote" %>
          <div>Average Score: <%= @ratings.average_score %></div>
          <% if @ratings.already_rated_by_user(@user) %>
            You can only rate this once
          <% else %>
            <button type="button" class="btn btn-info" >
              <%= link_to "Rate Quote", new_quote_rating_path(@quote) %>
            </button>
          <% end %>
        </h1>
      </div>
    </div>
  </section>
</main>
